<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<!-- Create navigation bar (header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and Login Module</a>
        </div>
    </div>
</nav>
<br>
<br>

<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 con-md-offset-3">

            <!-- success message
            <div th:if="${param.success}}">
                <div class="alert alert-info">You've successfully registered!</div>
            </div>
-->
            <h1>Registration</h1>

            <form method="post" th:action="@{/registration}"  th:object="${userDto}">
                <div class="form-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus">
                    <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</div><br/>

                    <label class="control-label" for="lastName">Last Name</label>
                    <input id="lastName" class="form-control" th:field="*{lastName}" required autofocus="autofocus">
                    <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</div><br/>

                    <label class="control-label" for="email">Email</label>
                    <input id="email" class="form-control" th:field="*{email}" required autofocus="autofocus">
                    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div><br/>

                    <label class="control-label" for="password">Password</label>
                    <input id="password" class="form-control" th:field="*{password}" required autofocus="autofocus">
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Name Error</div><br/>

                    <label class="control-label" for="confirmedPassword">Confirmed Password</label>
                    <input id="confirmedPassword" class="form-control" th:field="*{confirmedPassword}" required autofocus="autofocus">
                    <div class="error" th:if="${#fields.hasErrors('confirmedPassword')}" th:errors="*{confirmedPassword}">Confirmed Password Error</div><br/>

                </div>

                <input type="submit" value="Sign up!"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>